.cbg-dark{
    background-color: #030F17;
}
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Markazi Text', serif;
    background: #030F17;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.05s;
}

.navbar {
    padding: 15px 10px;
    background: #030f17;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 213px;
    max-width: 213px;
    background: #061520;
    color: #fff;
    transition: all 0.1s;
    background-repeat: no-repeat;
    background-size: 100% 40px,100% 10px;
    background-attachment: local,scroll;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 35%);
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs{
    display: none;
    
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active ul li a span{
display: none;
}

#sidebar ul li a {
    text-align: right;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 17px;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #061520;
    text-align: right;
    display: flex;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 35%);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;

}

hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #bdbdbd;
    color: #bdbdbd;
    border: none;
    height: 1px;
}

#sidebar ul li a {
    padding: 10px 20px;
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: .8px;
    opacity: .8;
    margin-bottom: 10px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a span {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #020A10;
    border-right: 1px solid;
    border-right-color: red;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-right: 30px !important;
    background: #061520;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 2px;
    min-height: 100vh;
    transition: all 0.3s;
}

#searchbar{
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    /* width: 100%; */
}
.slideshow{
    height: 500px;
    background-color: tomato;
}
#searchbar:focus{
    outline: 0 none;
    box-shadow: none;
}

.carousel-item img{
    width: 100%;
    opacity: 0.5;
}
.overlay{
    background: linear-gradient(0deg,#000,rgba(0,0,0,.06274509803921569) 3%,transparent 5%),radial-gradient(circle at 0 45%,rgba(24,29,37,0) 30%,rgba(24,29,37,.3) 45%,rgba(24,29,37,.7) 65%),linear-gradient(178deg,rgba(24,0,0,0) 50%,#181d25);
}

.slidrate{
    background-color: #32BA43;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 2px #0000005e;
}

.watchnow{
    cursor: pointer;
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #c4170f;
    margin: 20px auto auto;
    border-radius: 24px;
    padding-left: 15px;
    box-shadow: 0 2px 4px 0 rgb(9 51 84 / 59%);
    position: relative;
    right: 300px;
    bottom: 0;
}

.collection h4{
    color: #fff;
    text-align: right;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;

}
#owl-demo .item{
    margin-right: 20px;
    color: #FFF;
    
    
    text-align: right;
    
    margin-bottom: 10px;
    
  }
  h2{
      color: white;
  }
  .owl-carousel .owl-item img{
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  .middle {
      width: 100%;
      height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
   background:#ff000070;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .image{
    position: relative;
  }
  

  .image:hover .middle{
    opacity: 1;
  }

  .mvtitle{
    font-size: 17px;
    font-family: 'Markazi Text', serif;
    color: white;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  .col-md-auto{
    padding: 0;
    position: absolute;
    left: 0;
}

@media (max-width: 768px){
.col-md-auto {
    padding: 0;
    position: absolute;
    left: auto;
    right: 200px;
}
}

.col .float-right{
    padding: 0;
    margin: 0 15px;
}
  

  .mvsubtitle{
    font-family: 'Markazi Text', serif;
    color: #96989a;
    font-size: 16px;
  }
  p{
    font-family: 'Markazi Text', serif;
  }

  .season{
  
        margin: 40px;
        text-align: right;
        color: #fff;
      
  }

  .nav-link{
      font-size: 20px !important;
  }

  .crew{
    padding: 28px;
    text-align: right;
    color: #fff;
  }
  .likebuttons{
      padding-left: 15px;
  }
    
  .brand {
    font-family: 'Markazi Text', serif;
    background-color: #d29f08;
    color: #000;
    font-size: 8px;
    font-weight: 700;
    padding: 2px 3px;
    border-radius: 5px;
    margin: 0 1px
}
.carousel-caption {
     /* position: absolute; */
    right: 10px;
    top: 10px;
    left: 70%;
    /* z-index: 10; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* color: #fff; */
    text-align: right;
}
.carousel-control-next{
    z-index: 1000;
}
.outerbox{
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 1e-09px;
}

.selectbox{
    cursor: pointer;
    background-color: #0c1b26;
    color: #6b747b;
    border-radius: 32px;
    /* padding: 10px 20px; */
    position: relative;
    min-height: 42px;
    margin-bottom: 5px;
}

.selectbox .active{
    
    background-color: #fff;
    color: #000;
    border-radius: 32px;
    
}


.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group .active{
    background-color: white !important;
    font-size: 20px;
    color: #000 !important;
    
   
}

.video{
    clear: both;
    
}

.btn-group .notactive{
    font-size: 20px;
    color: #fff;
    
    background-color: #061520;

}

.filterbtn{
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #0C1B26;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 32px !important;
    min-width: 120px;
}

.dropdown-item{
    color: #fff;
    text-align:right;
}
.dropdown-menu{
    background-color: #061520;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #061520;
    border-color: #dee2e6;
    border-radius: 0;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e21b41;
    
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fcfdff;
    background-color: #061520;
    border:0;
    border-radius: 0px !important;
    font-size: 20px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
#sidebarCollapse2{
    display:none;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-right: -80px !important;
        position:absolute;
        z-index:1500

    }
    #sidebarCollapse2{
        display:block;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        left: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-right: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-left: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-right: 0;
    }
    #sidebarCollapse span {
        display: block;
    }
}

#owl-demo {
    display: grid !important;
}

#skip {
    position: absolute;
    bottom: 43px;
    background: #00000085;
    border-radius: 8px;
    
}

#skip:hover {
background-color: red;
}